<% if @show_employee.present? %>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <h1><%= @show_employee.employee_first_name %> <%= @show_employee.employee_last_name %></h1>
          <p><%= @show_employee.job_title %></p>
          <p class="mb-0">Department name: <%= @department.department_name %></p>
          <p class="mb-0">Employee number: <%= @show_employee.employee_number %></p>
          <p class="mb-0">Employee email: <%= @show_employee.employee_email %></p>
          <p class="mb-0">Mobile number: <%= @show_employee.mobile_number %></p>
          <p class="mb-0">Date of Joining: <%= @show_employee.date_of_joining %></p>
          <p>Salary: <%= @show_employee.employee_salary %></p>
        </div>
        <div class="modal-footer">
          <%= link_to "Edit", edit_employee_path(@show_employee), class: "btn btn-primary" %>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<% end %>
