<div class="m-2">
  <h2 class="border-secondary px-2 py-1" style="border-left:4px solid; border-bottom:1px solid"><%= @department.department_name%> Department</h2>

  <% if @employees.present?%>
    <div class="row mt-2">
      <% @employees.each do |employee| %>
        <div class="col-md-2">
          <a class="nav-link link-dark" href="<%=employee_path(employee)%>">
            <div class="card" style="width: 17rem;">
              <div class="card-body">
                <h3 class="card-title mb-0"><%= employee.employee_first_name %> <%= employee.employee_last_name %></h3>
                <p class="card-text "><%= employee.job_title %></p>
                <p class="card-text mb-0">Email : <%= employee.employee_email %></p>
                <p class="card-text ">Mobile no.: <%= employee.mobile_number %></p>
              </div>
            </div>
          </a>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>No employees present</p>
  <% end %>
</div>
<p class="mx-3"><%= link_to 'Back', departments_path %></p>
